@import 'tailwindcss';

@theme {
  --font-instrument-serif: var(--font-instrument-serif);
  --font-lato: var(--font-lato);

  --color-primary: #9c28b1;
  --color-secondary: '';
  --color-tertiary: '';
  --color-white: #ffffff;
  --color-grayColor: #dddddd;
  --color-greyColor: #eeece8;
}

/* #EEECE8 */
